<div class="character-content">

  <div class="character-equipment">


    <div class="character-info" *ngIf="mainCharacter">
      <div class="character-image">
        <img class="img" [src]="mainCharacter.img">
      </div>
      <div class="character-name">
        <div class="name">{{mainCharacter.name}}</div>
        <div class="title">
          < {{mainCharacter.title}}>
        </div>
        <div class="lvlNclass">
          <div class="lvl">
            {{mainCharacter.level}}
          </div>
          <div class="class">
            {{mainCharacter.characterClass}}
          </div>
        </div>
      </div>
    </div>



    <div class="character-stats">

      stats
    </div>

  </div>

  <div class="character-inventory">

    inventory

  </div>

</div>