<div class="character-content">

  <div class="character-equipment">


    <div class="character-info">
      <div class="character-image">
        <img class="img" [src]="'http://i67.tinypic.com/312tu7p.jpg'" >
      </div>
      <div class="character-name">
        <div class="name">Ryven</div>
        <div class="title"> < Adventurer > </div>
        <div class="lvlNclass">
          <div class="lvl">
            Level 1
          </div>
        </div>
        <div class="class">
          Ranger
        </div>
      </div>
    </div>

    

  <div class="character-stats">

stats
  </div>

  </div>

  <div class="character-inventory">

inventory

  </div>

</div>
