@import "./src/vars.scss";

:host {
    .home-container {

        .sections {
            display: inline-flex;
            width: 100%;;

            .left-section {
                width: 50%;

                .main-character {
                    display: inline-flex;
                    width: 300px;
                    padding: 8px;
                    align-items: center;
                    border-radius: 8px;
                    background-image: linear-gradient(to left, (rgba(12,12,12,0), rgba(200,200,244,1)));
                    .image {
                        img {
                            height: 100px;
                            border-radius: 8px;
                            margin-right: 8px;
                        }
                    }
                    .character-stats {
                        .name {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .lvlNclass {

                        }
                    }
                }
            }
            .right-section {
                width: 50%;
                .quest-section {
                    .quest-item {
                        .quest-title {
                            font-weight: bold;
                            margin: 8px 0;
                        }
                        .quest-desc {
                            
                        }
                    }
                }

                .nav-section {
                    .divider {
                        margin: 16px 0px;
                        width: 100px;
                        border-bottom: 1px solid #333;
                    }
                }
            }

        }

    }
}