@import "./src/vars.scss";

:host {
    .home-container {
      background-color: $primary;
      border-radius: 8px;
      padding: 0 24px;
        .sections {
            display: inline-flex;
            width: 100%;;

            .left-section {
                width: 50%;
                padding-right: 10%;

                .main-character {
                    display: inline-flex;
                    width: 100%;
                    padding: 8px;
                    align-items: center;
                    border-radius: 8px;
                    margin-bottom: 8px;
                    color: #111;
                    &.Rogue {
                      background-image: $gradientRogue;
                    }

                    &.Knight {
                      background-image: $gradientKnight;
                    }

                    &.Priest {
                      background-image: $gradientPriest;
                    }

                    &.Mage {
                      background-image: $gradientMage;
                    }

                    .image {
                      position: relative;
                      float: left;
                      width:  100px;
                      height: 100px;
                      background-position: 50% 50%;
                      background-repeat:   no-repeat;
                      background-size:     cover;
                      border-radius: 8px;
                    }
                    .character-stats {
                      padding-left: 16px;
                        .name {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .lvlNclass {

                        }
                    }
                }
            }
            .right-section {
                width: 50%;
                padding-left: 10%;
                text-align: end;
                .quests-section {
                  padding: 24px;
                  background-image: linear-gradient(to right, (rgba(12,12,12,0), rgb(244, 226, 200)));
                  border-radius: 8px;
                  color: $fontBlack;

                  .quest-item {
                        .quest-title {
                            font-weight: bold;
                            margin: 8px 0;
                        }
                        .quest-desc {

                        }
                    }
                }

                .nav-section {
                    .divider {
                        margin: 16px 0px;
                        width: 100px;
                        border-bottom: 1px solid #333;
                    }
                }
            }

        }

    }
}
