<div class="adventure-container">

  <div class="adventure-header">
    <div class="adventure-battle">
    </div>
  </div>

  <div style="display: inline-flex; width: 100%;">
    <div class="adventure-left">
      <h3>Adventure Area's</h3>
      <div class="adventure-area">
        <div class="image">
          <img
            [src]="'https://www.wallpaperup.com/uploads/wallpapers/2015/02/09/617356/c280144b838ffb01adb6ec309abfbb90-700.jpg'">
        </div>
        <div class="wrapper">
          <div class="title">Noob Forest</div>
          <div class="level">Range 1 - 4</div>
        </div>
      </div>
    </div>

    <div class="adventure-right">
        <h3>Dungeon's</h3>

        <div class="dungeon-area">
            <div class="wrapper">
                <div class="title">Noob Dungeon</div>
                <div class="level">Range 1 - 4</div>
              </div>
            <div class="image">
              <img
                [src]="'https://ksr-ugc.imgix.net/assets/012/025/394/a901ca14b65278bb610ccdd3df751860_original.jpg?ixlib=rb-2.0.0&crop=faces&w=1552&h=873&fit=crop&v=1463725116&auto=format&frame=1&q=92&s=fee6b11395ea3ad2db1f2e34454f392b'">
            </div>

          </div>

      </div>
  </div>


</div>